* {
  font-family: "Avenir Black", Geneva, Verdana, sans-serif;
  transition: 150ms;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 100%;
  background-color: #fbfbfd;
}
img {
  box-sizing: border-box;
  display: inline-block;
}
a {
  font: inherit;
  font-family: inherit;
  text-decoration: none;
}

.ZT{
  font-family: 'ZTFormom';
}

.ZT-Italic{
  font-family: 'ZTFormom';
  font-style: italic;
}

.ABook{
  font-family: 'Avenir Book';
}

.ABook-Italic{
  font-family: 'Avenir Book';
  font-style: italic;
}

.ACondensed{
  font-family: 'Avenir Next Condensed';
}

/* Webfont: ZTFormom-Regular */@font-face {
  font-family: 'ZTFormom';
  src: url('./assets/fonts/ZT\ Formom.woff2') format('woff2'), /* Modern Browsers */
       url('./assets/fonts/ZT Formom.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: ZTFormom-Oblique */@font-face {
  font-family: 'ZTFormom';
  src: url('./assets/fonts/ZT Formom Italic.woff2') format('woff2'), /* Modern Browsers */
       url('./assets/fonts/ZT Formom Italic.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./assets/fonts/Avenir-Book.eot');
  src: local('./assets/fonts/Avenir Book'), local('Avenir-Book'),
      url('./assets/fonts/Avenir-Book.woff2') format('woff2'),
      url('./assets/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('./assets/fonts/Avenir-Black.eot');
  src: local('./assets/fonts/Avenir Black'), local('Avenir-Book'),
      url('./assets/fonts/Avenir-Black.woff2') format('woff2'),
      url('./assets/fonts/Avenir-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: local('./assets/fonts/Avenir Next Condensed'), local('Avenir-Book'),
      url('./assets/fonts/Avenir Next Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.empty {
  margin-top: 10rem;
  color: #212121;
}

.orderExtra {
  font-size: 14px;
  color: #7c7c7c;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor:grab;
}
*::-webkit-scrollbar-track {
  background: #e7e5df;
}
*::-webkit-scrollbar-thumb {
  background-color: #161db5;
  cursor:grab;
}

::-webkit-scrollbar-button {
  display: none;
}
