* {
  font-family: "Avenir Black", Geneva, Verdana, sans-serif;
  transition: 150ms;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 100%;
  background-color: #fbfbfd;
}
img {
  box-sizing: border-box;
  display: inline-block;
}
a {
  font: inherit;
  font-family: inherit;
  text-decoration: none;
}

.ZT{
  font-family: 'ZTFormom';
}

.ZT-Italic{
  font-family: 'ZTFormom';
  font-style: italic;
}

.ABook{
  font-family: 'Avenir Book';
}

.ABook-Italic{
  font-family: 'Avenir Book';
  font-style: italic;
}

.ACondensed{
  font-family: 'Avenir Next Condensed';
}

/* Webfont: ZTFormom-Regular */@font-face {
  font-family: 'ZTFormom';
  src: url('./assets/fonts/ZT\ Formom.woff2') format('woff2'), /* Modern Browsers */
       url('./assets/fonts/ZT Formom.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: ZTFormom-Oblique */@font-face {
  font-family: 'ZTFormom';
  src: url('./assets/fonts/ZT Formom Italic.woff2') format('woff2'), /* Modern Browsers */
       url('./assets/fonts/ZT Formom Italic.otf') format('opentype'); /* Safari, Android, iOS */
           font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./assets/fonts/Avenir-Book.eot');
  src: local('./assets/fonts/Avenir Book'), local('Avenir-Book'),
      url('./assets/fonts/Avenir-Book.woff2') format('woff2'),
      url('./assets/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('./assets/fonts/Avenir-Black.eot');
  src: local('./assets/fonts/Avenir Black'), local('Avenir-Book'),
      url('./assets/fonts/Avenir-Black.woff2') format('woff2'),
      url('./assets/fonts/Avenir-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Condensed';
  src: local('./assets/fonts/Avenir Next Condensed'), local('Avenir-Book'),
      url('./assets/fonts/Avenir Next Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.empty {
  margin-top: 10rem;
  color: #212121;
}
.space {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.orderExtra {
  font-size: 14px;
  color: #7c7c7c;
}

.requestApp {
  margin-top: 100px;
}
.requestApp form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.requestApp h1 {
  user-select: none;
  margin-bottom: 3rem;
  padding: 20px;
}
.text {
  width: 60%;
  padding: 20px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  margin-bottom: 25px;
  resize: none;
}
label {
  user-select: none;
}
.text:focus {
  outline: none;
}
.requestApp textarea {
  height: 100px;
}
.sendBtn {
  font-size: 15px;
  width: 110px;
  height: 45px;
  border-radius: 15px;
  border: none;
}
.sendBtn:hover {
  cursor: pointer;
  background-color: #70a9a1;
  color: #fbfbfd;
}
.sendBtn:active {
  background-color: #212121;
}

.fullscreen-menu {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
  transition: right 0.2s ease-in-out;
}
.fullscreen-menu.open {
  right: 0;
}
.menu-content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.menu-content button {
  margin: 1.3rem;
}
.hamburger-logo {
  user-select: none;
  position: absolute;
  bottom: 7vh;
  height: 60px;
}
.hamburger {
  display: hidden;
  position: fixed;
  right: 5px;
  top: 10px;
}
/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor:grab;
}
*::-webkit-scrollbar-track {
  background: #e7e5df;
}
*::-webkit-scrollbar-thumb {
  background-color: #161db5;
  cursor:grab;
}

::-webkit-scrollbar-button {
  display: none;
}
